@{
    ViewData["Title"] = "Home Page";
}

@model Album.Business.Model.AlbumDto



@using (Html.BeginForm("SubmitAlbum", "Album", FormMethod.Post))
{
    <div class="form-horizontal">

        <h2 class="text-info">Update Album</h2>

        <div class="form-group">

            @Html.LabelFor(model =>Model.AlbumName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model=>Model.AlbumName, new { @class="form-control"})
            </div>
            @Html.HiddenFor(model=>Model.AlbumId)
        </div>

        <br/>
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" value="Update" class="btn btn-primary">update</button>
            
        </div>

    </div>
}